In [2]:
# 1. Using input() function take one number from the user and using ternary operators
# check whether the number is even or odd
a = int(input("Enter the input number : "))
print("even number" if a%2 == 0 else "Odd Number")

Enter the input number :  2

even number

In [5]:
# 2. Using input function take two number and then swap the number
a = int(input("enter the 1st number : "))
b = int(input("enter the 2nd number : "))
# a,b=b,a
a = a+b  
b = a-b
a = a-b
print("the swapped numbers a : ",a)
print("the swapped numbers b : ",b)

enter the 1st number :  8
enter the 2nd number :  4

the swapped numbers a :  4
the swapped numbers b :  8

In [6]:
# 3. Write a Program to Convert Kilometers to Miles
kms = int(input("enter the sidtance in kms : "))
miles = kms*0.621
print("the distance in miles : ",miles)

enter the sidtance in kms :  25

the distance in miles :  15.525

In [7]:
# 4. Find the Simple Interest on Rs. 200 for 5 years at 5% per year
amount = 200
rate = 5
time = 5
interest = (amount*rate*time)/100
print("the interest per year : ",interest)

the interest per year :  50.0