In [2]:
# Assignment:

# 1. Write a Python program to sum all the items in a list.
lst = [2,3,4,5,67,8,5,9]
sum = 0
for i in lst:
    sum = sum + i
print("the sum of all the elements of the list is : ",sum)

the sum of all the elements of the list is :  103

In [4]:
# 2. Write a Python program to get the largest and smallest number from a list without

# builtin functions.

lst = [4,3,6,9,2,4,9,4,66,98]
max = 0
min = 0
for i in lst:
    if max < i:
        max = i
    if min > i:
        min = i
print("the largest element in the list is : ",max)
print("the smallest element in the list is : ",min)

the largest element in the list is :  98
the smallest element in the list is :  0

In [34]:
# 3. Write a Python program to find duplicate values from a list and display those.
lst = [9 , 4, 5 ,5 ,2 , 5 , 8]
dict = {}
for i in lst:
    count = 0
    for j in lst:
        if i == j:
            count += 1
    dict[i] = count
val = dict.values()
k = dict.keys()
for i in dict.items():
    if i[1] > 1:
        print(i)

{9: 1, 4: 1, 5: 3, 2: 1, 8: 1}
(5, 3)

In [73]:
# 4. Write a Python program to split a given list into two parts where the length of the first

# part of the list is given.

# Original list:

# [1, 1, 2, 3, 4, 4, 5, 1]

# Length of the first part of the list: 3

# Splitted the said list into two parts:

# ([1, 1, 2], [3, 4, 4, 5, 1])

l1 = [1, 1, 2, 3, 4, 4, 5, 1]
l2 = []
l3 = []
size = len(l1) - 1
for i in range(size):
    if i <=2:
        l2.insert(i,l1[0])
        del l1[0]
print("list 1 : " , l2)
print("list 2 : " , l1)

list 1 :  [1, 1, 2]
list 2 :  [3, 4, 4, 5, 1]

In [80]:


# 5. Write a Python program to traverse a given list in reverse order, and print the

# elements with the original index.

# Original list:

# ['red', 'green', 'white', 'black']

# Traverse the said list in reverse order:
# black

# white

# green

# red

list = ['red', 'green', 'white', 'black']
# print(list[::-1])
size = len(list)-1
for i in range(size,-1,-1):
    print("index : ",i,"element : ",list[i])

index :  3 element :  black
index :  2 element :  white
index :  1 element :  green
index :  0 element :  red

In [10]:
# Assignment:
# 1. Write a Python program and calculate the mean of the below dictionary.

# test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}
# Output: 6.2
import numpy as np
test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}

sum = 0
for i in test_dict.values():
    sum = sum+i
# me =
print("the main is : ",sum/(len(test_dict)))

the main is :  6.2

In [22]:
# 2.Write a Python script to concatenate the following dictionaries to create a new one.
# Sample Dictionary :
# dic1={1:10, 2:20}
# dic2={3:30, 4:40}
# dic3={5:50,6:60}
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
dict4 = {}
dict4.update(dict1)
dict4.update(dict2)
dict4.update(dict3)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:

# 3.Write a Python program to get the key, value and item in a dictionary.
# input:dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for item in dict_num.items():
    print(*item)
# Output:
# Key 	Value

# 1	10

# 2	20

# 3	30

# 4	40

# 5	50

# 6	60

1 10
2 20
3 30
4 40
5 50
6 60

In [7]:
# 4.Write a Python program to get the key, value and item in a dictionary.

# Input: input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}
input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}
none_key = [key for key , value in input_dict.items() if value is None]
# used list comprehension for removing the none values
for key in none_key:
    del input_dict[key]
print(input_dict)
# Output:

# dict with empty items Dropped :

# {1:10,2:40,4:40,6:60}

{1: 10, 2: 20, 4: 40, 6: 60}

In [13]:
# 1. Write a Python program to find the number of times 4 appears in the tuple.
# Input:
# tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )

tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )
count = 0
for i in tuplex:
    if i == 4:
        count += 1
print(count)

3

In [16]:
# 2.Write a Python program to convert a list to a tuple.
# Input: listx = [5, 10, 7, 4, 15, 3]

listx = [5, 10, 7, 4, 15, 3]

tup = tuple(listx)

print(tup)
# Output: (5, 10, 7, 4, 15, 3)

(5, 10, 7, 4, 15, 3)

In [23]:
# 3. Write a Python program to calculate the sum of the numbers in a given tuple.
# Input: tuples_list = [(1, 2), (3, 4), (5, 6)]
tuples_list = [(1, 2), (3, 4), (5, 6)]
sum1 = 0
for i in tuples_list:
    for j in i:
        sum1 = sum1 + j

print("sum of tuple is : ",sum1)
# Output:
# sum of tuple is : 21

sum of tuple is :  21

In [32]:
# 4.Write a python program and iterate the given tuples
# Input:
# employee1 = ("John Doe", 101, "Human Resources", 60000)
# employee2 = ("Alice Smith", 102, "Marketing", 55000)
# employee3 = ("Bob Johnson", 103, "Engineering", 75000)

employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)
list_1 = []
list_1.append(employee1)
list_1.append(employee2)
list_1.append(employee3)
print("Employee Records : ")
for i  in list_1:
    print("Name : ",i[0])
    print("Employee ID : ",i[1])
    print("Department",i[2])
    print("Salary : ",i[3])
# Output:
# Employee Records :
# Name : John Doe
# Employee ID : 101
# Department : Human Resources
# Salary	:  60000
# Name : Alice Smith
# Employee ID : 102
# Department :Marketing
# Salary	:  55000
# Name : Bob Johnson
# Employee ID : 103
# Department : Engineering
# Salary	:  75000

Employee Records :
Name :  John Doe
Employee ID :  101
Department Human Resources
Salary :  60000
Name :  Alice Smith
Employee ID :  102
Department Marketing
Salary :  55000
Name :  Bob Johnson
Employee ID :  103
Department Engineering
Salary :  75000

In [ ]:
!pip install streamlit

In [6]:
# Assignment:
# 1. Write a Python program to Get Only unique items from two sets.
# Input:
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set2.union(set1)
# Output:
# {70, 40, 10, 50, 20, 60, 30}

{10, 20, 30, 40, 50, 60, 70}

In [1]:
# 2. Write a Python program to Return a set of elements present in Set A or B, but
# not both.
# Input:
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print((set1-set2 ).union(set2 - set1))
# Output:
# {20, 70, 10, 60}

{70, 10, 20, 60}

In [5]:
# 3. Write a Python program to Check if two sets have any elements in common. If
# yes, display the common elements.
# Input:
# set1 = {10, 20, 30, 40, 50}
# set2 = {60, 70, 80, 90, 10}

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

print(set1&set2)
# Output:
# {10}

{10}

In [7]:
# 4. Write a Python program to Remove items from set1 that are not common to
# both set1 and set2.
# Input:
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
neww = list(set1-set2)
mod = list(set1)
for i in mod:
    for j in neww:
        if i == j:
            mod.remove(i)
set1 = set(mod)
print(set1)

{40, 50, 30}